<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Online Movie Ticket Booking</title>
    <style>
        body{
            padding:0px;
            margin:0px;
        }
        #id1{

            margin:320px 500px;
            padding: 25px 50px;
           
        }
       #id2{
            padding: 25px 50px;
            margin:50px -400px;
            
       }

       .btn{
            border-radius: 25px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: large;
            background-color: rgb(166, 211, 206);
            cursor:pointer;


       }
       .btn:hover{
           background-color: rgb(200, 239, 215);
       }
    </style>
</head>
<body>
<div >
    <button id="id1" class="btn"><a href="/users/book_cancel_tickets" target="_blank">User Page</a></button>
    <button id="id2" class="btn"><a href="/users/Admin_Page" target="_blank">Admin Page</a></button>
</div>

    
</body>
</html>